<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">

    <title>TimeToAnswer</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= stylesheet_link_tag    'site' %>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/navbar-static/">
  </head>

  <body>
    
      <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <div class="container-fluid">
          <%= link_to 'Time to Answer', root_path, class:"navbar-brand"%>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          
          <%= form_with(url:site_search_path, local: true, method: :get, class:'d-flex') do |form| %>
            <%# <div class="form-group"> %>
            <%= form.text_field :term, class:"form-control me-2", aria_label:"Search"%>
            <%# </div> %>
            
            <button type="submit" class="btn btn-primary"> Pesquisar </button>
          <% end %>
          

          <div class="collapse navbar-collapse" id="navbarCollapse">
           <% unless user_signed_in? %>
              <ul class="navbar-nav me-auto mb-2 mb-md-0">
                
                  <li class="nav-item">
                  <%= link_to 'Entrar', new_user_session_path, class:"nav-link "%>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'Cadastrar-se', new_user_registration_path, class:"nav-link "%>
                  </li> 
              </ul>
            <% else %>
            <ul class="navbar-nav me-auto mb-2 mb-md-0"></ul>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle bg-dark" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  <%= current_user.email %>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                   <li>
                  <%= link_to users_backoffice_welcome_index_path, class:"dropdown-item", data_toggle:"modal",  data_target:"#logoutModal" do %>
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                         Perfil
                  <% end %>
                  </li>

                  <li><hr class="dropdown-divider"></li>

                  <li>
                  <%= link_to destroy_user_session_path,method: :delete, class:"dropdown-item", data_toggle:"modal",  data_target:"#logoutModal" do %>
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                         Sair
                  <% end %>
                  </li>

                  <li><hr class="dropdown-divider"></li>

                </ul>
              </div>
            <% end%>
          </div>
        </div>
      </nav>
      
      <%= yield %>

          <%= javascript_include_tag 'application' %>
          <%= javascript_include_tag 'site' %>

            <% if notice %>
                <%= javascript_tag do %>
                        $.bootstrapGrowl('<%= notice %>', {
                            type: 'success', // (null, 'info', 'danger', 'success')
                            align: 'right', // ('left', 'right', or 'center')
                            allow_dismiss: true, // If true then will display a cross to close the popup.
                            stackup_spacing: 10 // spacing between consecutively stacked growls.
                        });
                <% end %>
            <% end %>
  </body>
</html>




