<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>TimeToAnswer</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <%= stylesheet_link_tag    'application'%>
    <%= stylesheet_link_tag    'users_backoffice' %>

  </head>

  <body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <div class="clearfix"></div>
            <!-- Sidebar - Brand -->
            <div class="profile clearfix px-3">
              <div class="profile_pic py-3">
                <%= link_to image_tag(avatar_url,size:"100x100", alt:"...", class:"img-circle profile_img", id:"imgAvatarMd"), '#', "data-toggle":"modal", "data-target":"#avatarModal" %>
                <span class="text-light font-weight-bold"><%=current_user.first_name%></span>
              </div>
            </div>



            <!-- Divider -->
            <hr class="sidebar-divider my-4">

            <li class="nav-item active">
                <%= link_to users_backoffice_welcome_index_path, class:'nav-link' do %>
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Inicio</span>
                <% end %>
            </li>

             <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <%= link_to  site_welcome_index_path, class:'nav-link' do %>
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Questoes</span>
                <% end %>
            </li>

             <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <%= link_to users_backoffice_profile_path, class:'nav-link' do %>
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dados do Perfil</span>
                <% end %>
            </li>

             <!-- Divider -->
            <hr class="sidebar-divider my-0">

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small ">
                                <%= current_user.first_name %>
                                </span>
                                <%= image_tag(avatar_url, size: "50x50", alt: "Edit Entry", id:"imgAvatarSm") %>
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                               <%= link_to destroy_user_session_path,method: :delete, class:"dropdown-item", data_toggle:"modal", data_target:"#logoutModal" do %>
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                <% end %>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <%= yield %>
                </div>




            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>

    <!-- Modal -->
    <div class="modal fade" id="avatarModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
        <%= form_with(url: users_backoffice_profile_path, model: current_user, class:"form-horizontal form-label-left") do |form| %>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Avatar</h4>
          </div>
          <div class="modal-body">
            <%= form.fields_for :user_profile do |profile_form|  %>
              <div class="form-group">
                <%= profile_form.label :avatar %>
                <%= image_tag(avatar_url,size:"100x100", alt:"...", class:"img-circle profile_img", id:"imgAvatarLg") %>
                <%= profile_form.file_field :avatar %>
              </div>
            <% end %>
          </div>
          <div class="modal-footer">
            <%= form.submit "Salvar", class:"btn btn-primary" %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
    <!-- /Modal -->

    <%= javascript_include_tag 'application'%>
    <%= javascript_include_tag 'users_backoffice'%>

    <% if notice %>
        <%= javascript_tag do %>
                $.bootstrapGrowl('<%= notice %>', {
                    type: 'success', // (null, 'info', 'danger', 'success')
                    align: 'right', // ('left', 'right', or 'center')
                    allow_dismiss: true, // If true then will display a cross to close the popup.
                    stackup_spacing: 10 // spacing between consecutively stacked growls.
                });
        <% end %>
   <% end %>

   <%= javascript_tag do  %>
      $(function(){
        $('.datepicker').datepicker();
      })
   <% end %>
</body>

</html>
